 {% extends "index.html" %}
 {% load static %}
 {% block title %}
  <title>Login</title>
 {% endblock  %}
 {% block content %}
 <section>
    <div class="container">
    <form method="post">
        {% csrf_token %}
  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Email address</label>
    {{form.username}}
    
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Password</label>
    {{form.password}}
    
  </div>

  <div class="form-outline mb-4">
                                        {% if form.non_field_errors %}
                                        {% for error in form.non_field_errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error }}</strong>
                                            </div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>

  

    <div class="col">
      <!-- Simple link -->
      <a href="{% url "password_reset" %}">Forgot password?</a>
    </div>

    <div class="col justify-content-center">
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
  </div>


  

  
  
</form>
</div class="container">
</section>
 {% endblock  %}
    
