{% extends "_base.html" %}

{% block content %}
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src="{% if user.is_teacher %}{{user.prof.picture.url}}{% else %}{{user.student.picture.url}}{% endif %}" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                    <h5 class="my-3">{{user.username}}</h5>  
                </div>
            </div>
        </div>

      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <form method="post"  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">User Name</p>
                </div>
                <div class="col-sm-9">
                    {{u_form.username}}
                </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">First Name</p>
                    </div>
                    <div class="col-sm-9">
                        {{u_form.first_name}}
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Last Name</p>
                    </div>
                    <div class="col-sm-9">
                        {{u_form.last_name}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Picture</p>
                    </div>
                    <div class="col-sm-9">
                        {{p_form.picture}}
                    </div>
                </div>
                <hr>
                <div class="row d-flex justify-content-center mb-2">
                    <div class="">
                    <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
    </div>
    </div>
</section>
            
{% endblock content %}