{% extends "_base.html" %} 
{% block title %}<title>Quizzes</title>{% endblock title %}
{% block content %}
{% include "quiz/_search_quiz.html" %}
<div class="row">
    <div class="col-lg-15 col-md-12">
        <div class="card" style="min-height: 485px">
            <div class="card-header card-header-text">
                <h4 class="card-title">Quizzes</h4>
            </div>
        
        <div class="card-content table-responsive">
            <table class="table table-hover">
                <thead class="text-primary">
                    <tr>
                        <th>Quiz</th>
                        <th>Course</th>
                        <th>Questions</th>
                        <th>Taken</th>
                        <th></th>
                                
                    </tr>
                </thead>
                <tbody>
                    {% for quiz in quizzes %}
                        <tr>
                            <td><a href="{% url 'teacher:quiz_change' quiz.pk %}">{{ quiz.name }}</a></td>
                            <td>{{ quiz.course.title }}</td>
                            <td>{{ quiz.questions_count }}</td>
                            <td>{{ quiz.taken_count }}</td>
                            <td class="text-right">
                                <a href="{% url "teacher:quiz_results" quiz.pk %}" class="btn btn-primary">View results</a>
                            </td>
                        </tr>
                                            
                    {% empty %}
                        <tr>
                            <td class="bg-light text-center font-italic" colspan="5">You haven't created any quiz yet.</td>
                        </tr>
                    {% endfor %}             
                    </tbody>
                </table>
            </div>
               
        </div>
    </div>
</div>

{% if is_paginated %}
   {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
   {% endif %}
   {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.page_number %}
            <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
        {% elif num > page_obj.page_number|add:'-3' and num < page_obj.page_number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
        {% endif %}
   {% endfor %}

   {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next page</a>
    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last Page</a>
   {% endif %}


   {% endif %}
{% endblock content %}