{% extends "_base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-6 col-sm-8 col-12">
                <form method="post">
                {% csrf_token %} 
                <button type="submit" class="btn btn-danger">Delete</button>
                <a
                    href="{% url 'course_detail' course.pk %}"
                    class="btn btn-outline-secondary"
                    role="button"
                    >Nevermind</a
                >
                </form>
        </div>
    </div>
{% endblock content %}